@page
@model MyFirstAspNetCoreApp.Pages.ContactFormModel
@{
    ViewData["Title"] = "ContactForm";
}

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

@if (Model.InfoMessage != null)
{
    <div class="alert alert-info">@Model.InfoMessage</div>
}

<h1>ContactForm</h1>
<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Content"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <br />
    <input type="submit" class="btn btn-primary" />
</form>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@



