@using MyFirstAspNetCoreApp.ViewModels.NavBar
@model NavBarViewModel
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/Internal/Test">Test href</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Internal/Test" asp-route-name="Асен">Test asp</a><!-- /softuni -->
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-page="/Account/Login" asp-area="Identity">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</li>
@foreach (var year in Model.Years.Reverse())
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://google.com/search?q=@year">@year</a>
    </li>
}